.front-section{
	/* background: linear-gradient(to right,#002a32, transparent, #002a32), url(../images/architecture-bridge-buildings-2225752.jpg) no-repeat center; */
	background: linear-gradient(to right,#002a32, transparent, #002a32), url(../images/analysis-brainstorming-1661004F.jpg) no-repeat center;
	background: linear-gradient(to right,#002a32, transparent, #002a32), url(../images/websiteimages/hero.jpg) no-repeat center;
	/* transition: 1.5s; */
	/* background: linear-gradient(to right,#002a32, transparent, #002a32), url(../images/buildings-city-city-view-597909.jpg) no-repeat center; */
	/* background: linear-gradient(to right,#002a32, transparent, #002a32), url(../images/architecture-bridge-buildings-2225752-resize.jpg) no-repeat center; */
	/* min-height: 52em; */
	/* linear-gradient(#004092, #020202, transparent), url("../images/architecture-bridge-buildings-2225752.jpg") no-repeat center;  */
	/* background:url("../images/architecture-bridge-buildings-2225752.jpg") center;
	background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1), rgba(255,0,0,0)); */
}

.front-texts{
	color: white;
	font-size: 42px;
	line-height: 42px;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	margin: auto;
  	text-align: left;
}

.learn-more{
	color: white;
    font-size: 28px;
    line-height: 42px;
    font-family: 'Roboto', sans-serif;
	font-style: normal;
	text-align: left;
	vertical-align: middle;
}

.learn-more-btn{
	border-radius: 5px;
    width: fit-content;
    padding-left: 1em !important;
    padding-right: 1em !important;
    background-color: #1e90ff;
	border: 0px;
}

.learn-more-btn:hover,
.learn-more-btn:active,
.learn-more-btn:focus{
	color: white;
	background-color: #5aaeff;
    border: 0px;
}

.learn-more-btn a{
	font-size: 18px;
}
.learn-more-btn a:hover{
	color: white;
}

