.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
} 

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */


/* html {
	scroll-behavior: smooth;
} */
  
.body-background{
	background: #002A32;
}

/* .main-container{
	width: 1800px;
	margin: auto;
} */

.main-section{
	min-height: 52em;
}

.inline-block{
	display: inline-block;
}

.padding-bottom-20{
	padding-bottom: 20px;
}

.padding-5{
	padding: 5px;
}

.padding-20{
	padding: 20px;
}

.center{
	text-align: center;
}

.contact-us-btn{
	border-radius: 5px;
	width: fit-content;
	padding-left: 3em !important;
	padding-right: 3em !important;
	background-color: #00b294;
	border: 0px;
}

@media (max-width: 992px) {
	.nav-link {
		padding-left: 5% !important;
		padding-right: 5% !important;
	}
}

.contact-us-btn:hover,
.contact-us-btn:focus,
.contact-us-btn:active{
	background-color: #4E97D8;
	color: white;
	border: 0px;
}



.front-text-block{
	margin-top: 2em;
}

.front-text-left{
	position: absolute;
  left: 4em;
}


	
.card-section{
	margin: auto;
}

.card-special:hover {
	transform: scale(1.1);
	transition: 0.3s;
	z-index: 1;
	-webkit-box-shadow: 0 0 15px 5px #1b1b1b;
    -moz-box-shadow: 0 0 15px 5px #1b1b1b;
    box-shadow: 0 0 15px 5px #1b1b1b;
}
.card-special {
	transition: 0.3s;
}

.card{
	padding: 1em;
}



#backToTop {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: #00b294;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}
  
#backToTop:hover {
	background-color: #4E97D8;
}


.row{
	margin: 0;
}

.font-white{
	color: white;
}